<br>
<br>
<h2 style="text-align: center;">LoginHere</h2>
<div class="col-md-6 offset-md-3 mt-5">
    <div class="alert alert-danger" *ngIf='error'>{{error}}</div>
    <form #loginForm='ngForm' (ngSubmit)='login(loginForm)'>
        <input type="number" name="id" id="id" placeholder="Enter Id"
        #id='ngModel'  minlength="1" ngModel required class="form-control mb-3">
        <div *ngIf="id.invalid && id.touched">
            <p *ngIf="id.errors.required" class="text-danger">*This field is mandatory
              <p *ngIf="id.errors.minlength" class="text-danger">*This field accepts minimum
                1 characters
          </div>

        <input type="name" name="name" id="name" placeholder="Enter Name"
        #name='ngModel' minlength="5" ngModel required class="form-control mb-3">
        <div *ngIf="password.invalid && password.touched">
            <p *ngIf="password.errors.required" class="text-danger">*This field is mandatory
              <p *ngIf="password.errors.minlength" class="text-danger">*This field accepts minimum
                5 characters
          </div>
        <button class="btn btn-outline-dark" type="submit">Login</button>
    </form>
</div>



