<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1 style="text-align: center;"></h1>
    <img src="https://cdn.pixabay.com/photo/2016/03/26/22/21/books-1281581__480.jpg" style="height: 200px;" style="width: 1000px;" >
    
    <a class="nav-link" style="text-align: center;"routerLink="/login">LoginHere</a>
</body>
</html>


