<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  


  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
            <a class="nav-link" routerLink="/">Navbar <span class="sr-only">(current)</span></a>
          </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/about">About <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
          <a class="nav-link" routerLink="/login">Login <span class="sr-only">(current)</span></a>
        </li>
      <li class="nav-item active">
        <a class="nav-link" routerLink="/help">Help <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item active">
          <a class="nav-link" routerLink="/property-binding">property-binding <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item active">
            <a class="nav-link" routerLink="/event-binding">event-binding <span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item active">
            <a class="nav-link" routerLink="/two-way-binding">two-way-binding <span class="sr-only">(current)</span></a>
          </li>
          
    </ul>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item active">
                <a class="nav-link" routerLink="/ngif">ngiflogin</a>
              </li>
              <li class="nav-item active">
                  <a class="nav-link" routerLink="/ngfor">ngfor</a>
                </li>
                <li class="nav-item active">
                    <a class="nav-link" routerLink="/ngswitch">ngSwitch</a>
                  </li>
                  <li class="nav-item active">
                      <a class="nav-link" routerLink="/register">Register</a>
                    </li>
                    <li class="nav-item active">
                      <a class="nav-link" routerLink="/reactive-form">ReactiveForm</a>
                    </li>
                    <li class="nav-item active">
                        <a class="nav-link" routerLink="/parent">Parent</a>
                      </li>
                      
                    <li class="nav-item active">
                        <a class="nav-link" routerLink="/form">Form</a>
                      </li>
                      <li class="nav-item active">
                        <a class="nav-link" routerLink="/form1">Form1</a>
                      </li>
                      <li class="nav-item active">
                        <a class="nav-link" routerLink="/form2">Form2</a>
                      </li>
                      <li class="nav-item active">
                        <a class="nav-link" routerLink="/form3">Form3</a>
                      </li>
                      <li class="nav-item active">
                        <a class="nav-link" routerLink="/comment-details">CommentDetails</a>
                      </li>
                    
                         
                                
                        
            </ul> 
  </div>
</nav>