<form action="" class="col-md-4 offset-4 mt-5 mb-5 card card-body">
    
    <div class="form-group">
        <input type="text" name="text" id="text" class="form-control" placeholder="Product Name"> <br>
        <input type="text" name="text" id="text" class="form-control" placeholder="Product Price"> <br>
        <input type="text" name="text" id="text" class="form-control" placeholder="Product Description"> <br>
        <input type="text" name="text" id="text" class="form-control" placeholder="Product Img URL"> <br>
       
        
        </div>
        
        <div class="form-group">
                <button type="submit" class="btn btn-outline-success float-right" [disabled]="form.invalid">Add Product</button>
        </div>
