<br>
<br>
<h2 style="text-align: center;">Request Book Here</h2>
<div class="alert alert-danger" *ngIf='error'>{{error}}</div>
<div class="col-md-6 offset-md-3 mt-5">
    <form #requestBookForm='ngForm' (ngSubmit)='requestBook(requestBookForm)'>
        <input type="number" name="bid" id="studentId" placeholder="Enter Student id.." 
        #studentId='ngModel' ngModel class="form-control mb-3">
        <button class="btn btn-outline-dark" type="submit">submit</button>
        
    </form>
</div>

  
  <div class="container " *ngIf="books">
    <table class="table table-bordered mt-2 table-hover table-striped">
      <thead>
        <tr class="text-center" >
          
          <th>bid</th>
          <th>bName</th>
          <th>Author1</th>
          <th>Author2</th>
          <th>Publisher</th>
          <th>Year Of Publication</th>
          <th>Request operation</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let book of books">
          <td>{{book.bid}}</td>
          <td>{{book.bName}}</td>
          <td>{{book.author1}}</td>
          <td>{{book.author2}}</td>
          <td>{{book.publisher}}</td>
          <td>{{book.yearOfPublication}}</td>
          <td><button type="button" class="btn btn-outline-info btn-block" (click)="requestBook(book)">Request
              Book</button></td>
        </tr>
      </tbody>
    </table>
  </div>